@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

::-webkit-scrollbar {
  @apply hidden h-1.5 w-1.5 rounded-none bg-neutral-500/20 md:block;
}

::-webkit-scrollbar-thumb {
  @apply rounded-none bg-neutral-500/50;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 90%;
    --accent-foreground: 240 5.9% 10%;
    --dim: 0 0% 97%;
    --dim-foreground: 240 5.9% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --dim: 240 13% 3%;
    --dim-foreground: 0 0% 98%;
    --destructive: 0 80% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .gradient-bg {
    @apply bg-gradient-to-br from-primary/20 to-background/10;
  }

  .blur-effect {
    @apply backdrop-blur-[5px] backdrop-saturate-[180%];
  }
}
.shadow-border {
  box-shadow: inset 0 0 0 2px red;
  /* background-color: red; */
}
.color-picker .react-colorful__saturation-pointer {
  @apply h-2.5 w-2.5 rounded-full;
}

.color-picker .react-colorful__hue-pointer,
.color-picker .react-colorful__alpha-pointer {
  @apply h-4 w-2.5 rounded-lg border border-border/50 shadow-2xl;
}

.color-picker .react-colorful__pointer-fill {
  @apply !bg-white;
}
.color-picker .react-colorful {
  @apply w-full;
}

.color-picker .react-colorful__saturation {
  @apply mb-4 w-full rounded-sm;
}

.color-picker .react-colorful__hue,
.color-picker .react-colorful__alpha {
  @apply h-2 rounded-md;
}
.lk-toast-connection-state {
  @apply !hidden;
}

.lk-chat-toggle {
  @apply !hidden;
}
.vote-bg {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.vote-bg-own {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.vote-bg-winning {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
