@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 90%;
    --accent-foreground: 240 5.9% 10%;
    --dim: 0 0% 97%;
    --dim-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --dim: 240 13% 3%;
    --dim-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .gradient-bg {
    @apply bg-gradient-to-br from-primary/20 to-background/10;
  }

  .blur-effect {
    @apply backdrop-blur-[5px] backdrop-saturate-[180%];
  }
}
.shadow-border {
  box-shadow: inset 0 0 0 2px red;
  /* background-color: red; */
}
.color-picker .react-colorful__saturation-pointer {
  @apply h-2.5 w-2.5 rounded-full;
}

.color-picker .react-colorful__hue-pointer,
.color-picker .react-colorful__alpha-pointer {
  @apply h-4 w-2.5 rounded-lg border border-border/50 shadow-2xl;
}

.color-picker .react-colorful__pointer-fill {
  @apply !bg-white;
}
.color-picker .react-colorful {
  @apply w-full;
}

.color-picker .react-colorful__saturation {
  @apply mb-4 w-full rounded-sm;
}

.color-picker .react-colorful__hue,
.color-picker .react-colorful__alpha {
  @apply h-2 rounded-md;
}
.lk-toast-connection-state {
  @apply !hidden;
}

.lk-chat-toggle {
  @apply !hidden;
}

.uppy-Dashboard-inner {
  @apply border-none bg-transparent text-foreground;
}

[data-uppy-drag-drop-supported="true"] .uppy-Dashboard-AddFiles {
  @apply border-none;
}

.uppy-Dashboard-AddFiles-title {
  @apply text-foreground;
}

.uppy-Dashboard-browse,
.uppy-u-reset.uppy-c-btn.uppy-Dashboard-browse {
  @apply border-b-[1px] border-b-transparent text-sky-500;

  &:hover {
    @apply border-b-sky-500;
  }
}

.uppy-DashboardContent-bar {
  @apply border-none bg-transparent text-foreground;
}

.uppy-DashboardContent-back,
.uppy-StatusBar-actionBtn {
  @apply p-1 text-xs text-muted-foreground transition-all hover:bg-secondary hover:text-foreground;
}

.uppy-Dashboard-Item {
  @apply border-none;
}

/* .uppy-StatusBar-actions {
  @apply border-none bg-transparent;
} */
.uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload {
  @apply w-full rounded-md bg-primary px-3 py-2 text-primary-foreground hover:bg-primary/90;
}

.uppy-StatusBar:not([aria-hidden="true"]).is-waiting {
  @apply border-none;
}

.uppy-StatusBar.is-waiting .uppy-StatusBar-actions {
  @apply border-none bg-transparent p-0;
}
.uppy-StatusBar:not([aria-hidden="true"]).is-waiting {
  @apply border-none bg-transparent;
}

.uppy-DashboardContent-back:focus,
.uppy-DashboardContent-save:focus,
.uppy-StatusBar-actionBtn:focus {
  @apply bg-secondary;
}

.uppy-StatusBar-actionBtn,
.uppy-StatusBar-actionBtn--retry {
  @apply text-red-500 hover:text-red-50;
}

.uppy-StatusBar-actionBtn,
.uppy-StatusBar-actionBtn--success {
  @apply text-sky-500 hover:text-red-50;
}

.uppy-StatusBar {
  @apply bg-transparent text-foreground;
}

.uppy-StatusBar-statusPrimary {
  @apply text-foreground;
}

.uppy-StatusBar-statusIndicator {
  @apply fill-green-500;
}

.uppy-StatusBar.is-complete .uppy-StatusBar-progress {
  @apply bg-green-500;
}

.uppy-StatusBar.is-error .uppy-StatusBar-statusIndicator {
  @apply fill-red-500;
}

.uppy-StatusBar.is-error .uppy-StatusBar-progress {
  @apply bg-red-500;
}

.uppy-DashboardContent-title {
  @apply text-sm;
  line-height: 40px;
}

.uppy-StatusBar:before {
  @apply mx-auto h-0.5 overflow-hidden rounded-full;
}

.uppy-StatusBar-actionBtn--done {
  @apply p-1 text-xs text-muted-foreground transition-all hover:bg-secondary hover:text-green-600 dark:hover:text-green-500;
}
.uppy-Dashboard-AddFilesPanel {
  background: none;
  @apply border border-border bg-background;
}

.uppy-c-icon {
  @apply cursor-pointer;
}

.uppy-DashboardTab {
  @apply border-none;
}

.simple .uppy-Dashboard-AddFiles-title {
  @apply mt-0 pl-2.5 text-left;
}

[dir="ltr"] .uppy-DashboardTab-inner {
  @apply m-0;
}

[data-uppy-drag-drop-supported="true"] .uppy-Dashboard-AddFiles {
  @apply m-0;
}
.uppy-Dashboard-AddFiles-list {
  @apply flex-none gap-1;
}

.uppy-Dashboard-AddFiles-list > span[role="presentation"] {
  @apply flex flex-col gap-1;
}
.uppy-u-reset.uppy-c-btn.uppy-DashboardTab-btn {
  @apply flex w-full items-center justify-start gap-1 rounded-md  bg-transparent pl-1 pr-2 font-medium text-muted-foreground transition-all hover:bg-accent hover:text-foreground;

  &:hover {
    & > .uppy-DashboardTab-inner > svg,
    & > .uppy-DashboardTab-inner > svg > path {
      @apply fill-foreground text-foreground;
    }
  }
}
.uppy-DashboardTab-name {
  @apply font-medium;
}

.uppy-DashboardTab-btn:hover {
  @apply bg-transparent;
}

.uppy-DashboardTab-inner {
  @apply bg-transparent;
}

.uppy-DashboardTab-inner > svg,
.uppy-DashboardTab-inner > svg > path {
  @apply h-7 w-7 bg-transparent fill-muted-foreground p-0 text-muted-foreground;
}

.uppy-Root {
  @apply !text-foreground;

  font-family: inherit !important;
  font: inherit !important;
}

.uppy-DashboardContent-panel {
  @apply border border-border/50 bg-background;
}

.uppy-DashboardContent-addMore {
  @apply bg-transparent;
}

.uppy-DashboardContent-addMore > svg {
  @apply h-3 w-3 bg-transparent fill-muted-foreground transition-all hover:fill-foreground;
}
/* [dir="ltr"] .uppy-DashboardContent-addMore > svg {
  @apply fill-foreground text-foreground;
} */
.uppy-DashboardContent-addMore:focus {
  @apply bg-transparent;
}

.uppy-u-reset.uppy-c-btn.uppy-Audio-button,
.uppy-u-reset.uppy-c-btn.uppy-Webcam-button.uppy-Webcam-button--picture,
.uppy-u-reset.uppy-c-btn.uppy-Webcam-button {
  @apply rounded-md bg-accent  p-1.5 text-muted-foreground;

  &:hover {
    & > svg > path {
      @apply fill-accent-foreground;
    }
  }

  & > svg {
    @apply h-6 w-6;

    & > path {
      @apply fill-muted-foreground;
    }
  }
}

.uppy-Audio-audioContainer {
  @apply bg-transparent px-1;
}

.uppy-Audio-player {
  @apply w-full;
}

.uppy-Audio-buttonContainer,
.uppy-Webcam-buttonContainer {
  @apply ml-0 flex gap-1 justify-self-center;
}
